/* Master Styles */
html,
body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.child-quarter {
  flex-basis: 25%;
}

.red-200 {
  background: #ef9a9a;
}

.green-200 {
  background: #a5d6a7;
}

.purple-200 {
  background: #ce93d8;
}

.teal-200 {
  background: #80cbc4;
}
